{{ partial "header.html" . }}
<!-- {{ partial "nav.html" . }} -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{{ .Title }}</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{{ .Content }}
		</div>
	</div>
</div>

<div class="container text-center">

		{{ partial "sendinblue.html" . }}

</div>

<div class="container text-center">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<hr>
			<a class="btn btn-danger btn-lg btn-don" href="http://enactes.fr">Retour sur enActes.fr</a>
		</div>
	</div>
</div>

{{ partial "footer.html" . }}
