
    <footer class="footer">
        <div class="container-fluid">
          <div class="col-md-10 col-sm-10 col-xs-10 text-muted small">
          {{ .Site.Title }} – 2017
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2">
            <p class="text-right">
              <a href="https://www.facebook.com/en.actes"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom js -->
    <script src="/js/enactes.js"></script>
    <!-- wow.js -->
    <script src="/js/wow.min.js"></script>
    <!-- jquery easing-->
    <script src="/js/jquery.easing.min.js"></script>
  </body>
</html>
