<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-2 wow fadeIn" data-wow-delay=".5s">
        {{ if .NextInSection }}
        <p>
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <a class="a-nav" href="{{ .NextInSection.RelPermalink }}">{{ .NextInSection.Title }}</a>
        </p>
        <p class="small text-muted date-nav">{{ .NextInSection.Params.datefr }}</p>
        {{ end }}
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay=".5s">
        {{ if .PrevInSection }}
        <p class="text-right">
            <a class="a-nav" href="{{ .PrevInSection.RelPermalink }}">{{ .PrevInSection.Title }}</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
        </p>
        <p class="small text-muted text-right date-nav">{{ .PrevInSection.Params.datefr }}</p>
        {{ end }}
    </div>
</div>
