<div id="sib_embed_signup">
  <div class="forms-builder-wrapper" >
  <input type="hidden" id="sib_embed_signup_lang" value="fr">
  <input type="hidden" id="sib_embed_invalid_email_message" value="Cette adresse email n'est pas valide.">
  <input type="hidden" name="primary_type" id="primary_type" value="email">
  <div id="sib_loading_gif_area" style="position: absolute;z-index: 9999;display: none;">
    <img src="https://my.sendinblue.com/public/theme/version4/assets/images/loader_sblue.gif" style="display: block;margin-left: auto;margin-right: auto;position: relative;top: 40%;">
  </div>
    <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/2kypg/id/1" onsubmit="return false;">
      <input type="hidden" name="js_id" id="js_id" value="2kypg">
      <input type="hidden" name="listid" id="listid" value="2">
      <input type="hidden" name="from_url" id="from_url" value="yes">
      <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
      <div class="container rounded">
        <input type="hidden" name="req_hid" id="req_hid" value="">
        <div class="view-messages"></div>
        <!-- an email as primary -->
        <div class="primary-group email-group forms-builder-group ui-sortable">
          <div class="row mandatory-email">
            <div class="form-group">
              <label for="email" class="lbl-tinyltr">Votre adresse e-mail <red style="color:#ff0000;">*</red></label>
              <input type="text" name="email" id="email" value="" placeholder="exemple@adresse.com">
              <div style="clear:both;"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="SMS" class="lbl-tinyltr">Votre numéro de mobile (SMS)</label>
              <input type="text" name="SMS" id="SMS" value="" placeholder="336xxxxxxxx" data-toggle="tooltip" data-placement="right" title="Ce champ doit contenir l'indicatif du pays sans 0 ni + (ex : 336xxxxxxxx pour les numéros français)">
              <div class="clear"></div>
            </div>
          </div>
        </div>
        <!-- end of primary -->
        <div class="byline">
        <button class="button editable btn btn-lg btn-don" type="submit" data-editfield="subscribe">Finaliser</button></div>
        <div style="clear:both;"></div>
      </div>
    </form>
  </div>
</div>
<script type='text/javascript' src='https://my.sendinblue.com/public/theme/version4/assets/js/src/subscribe-validate.js'></script>
<script type='text/javascript'>jQuery.noConflict(true);</script>
