<div class="row social wow fadeIn">
  <div class="col-md-8 col-md-offset-2">
    <!-- Social -->
    <p class="text-center">
      <a class="a-social" href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
        <i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a>
      <a class="a-social" href="https://twitter.com/intent/tweet/?url={{ .Permalink }}" target="_blank">
        <i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
      <a class="a-social" href="{{ .Permalink }}" target="_self">
        <i class="fa fa-2x fa-envelope" aria-hidden="true"></i></a>
    </p>
  </div>
</div>
