/*

  rouge : #EF5350
          #E53935

*/


html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  background-color: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 100px;
}

h1, h2, .h1, .h2 {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 5em;
  margin-left: 10px;
}

.h1-auteur {
  font-family: 'Roboto Slab', serif;
  font-size: 64px;
}

h2,
.h2 {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-size: 4em;
  margin-left: 10px;
}

/* sous-lignage particulier */
.titre {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #555;
  background-color: #FFFF8D;
  padding-left: 10px;
}


h3,
h4,
.h3,
.h4
 {
  font-family: 'Roboto Slab', serif;
  line-height: 1.1;
  color: inherit;
  font-weight: 300;
}

h3,
.h3 {
  font-size: 36px;
}

h4,
.h4 {
  font-size: 24px;
  font-weight: 700;
}

a {
  color: #555;
}

a:hover,
a:focus {
  color: #fafafa;
  background-color: #EF5350;
  text-decoration: none;
}

.a-calendrier {
  text-decoration: none;
}

.a-calendrier:hover,
.a-calendrier:focus {
  color: #555;
  text-decoration: none;
}

button a, .btn {
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 10px solid #fff;
  background-color: #fafafa;
  padding-top : 10px;
  margin-top : 50px;
}

.footer a {
  background-color: transparent;
}

.footer a:hover,
.footer a:focus {
  color : #EF5350;
}

.navbar {
  border-radius: 0;
  border: none;
  border-bottom: 10px solid #E53935;
}

.navbar-inverse {
  background-color: #EF5350;
}

.navbar-bottom {
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-brand {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-decoration:none;
  font-size: 20px;
  color: #fafafa;
}

.navbar-inverse .navbar-toggle {
  border-color: #E53935;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #E53935;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #E53935;
}

.navbar a {
  background-color: transparent;
}

.navbar li a {
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Open Sans', sans-serif;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #E53935;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fafafa;
}

.text-muted {
  color: #aaa;
}

.a-nav {
  margin: 20px;
  font-family: 'Roboto Slab';
  font-size: 1.4em;
  background-color: #FFFF8D;
}

.panel a:hover .a-nav,
.panel a:focus .a-nav {
  color: #fafafa;
  background-color:#EF5350;
}

.date-nav {
  margin-top: -10px;
  margin-right: 40px;
  margin-left: 40px;
  font-family: 'Open sans';
  font-size: 14px;
  color: #aaa;
}

.back-to-top {
  margin-top: 50px;
  color: #aaa;
  text-decoration: none;
  background-color: transparent;
}

/* Page single auteurs */
@media (min-width: 768px) {
  .date {
    margin-top: 50px;
  }
}

.btn-infos {
  background-color: #EF5350;
  color: #fafafa;
  font-family: 'Amatic SC', sans-serif;
  font-size: 36px;
  line-height: 48px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #fafafa;
  box-shadow: 10px 10px rgba(0,0,0,0.2);

  -webkit-transition: margin .2s;
  transition-timing-function: ease;
}

.btn-infos:hover,
.btn-infos:active {
  margin-top: 15px;
  margin-bottom: 10px;
}

.texte p {
  margin-bottom: 25px;
  line-height: 1.5em;
}

.texte h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 3em;
}

.a-propos {
  background-color: #EF5350;
  color: #fff;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.a-propos a {
  color: #fff;
}

.a-propos a:hover,
.a-propos a:focus {
  color: #fff;
}

.btn-default {
  color: #555;
  border-color: #e7e7e7;
  background-color: #f5f5f5;
}

.btn-default:hover,
.btn-default:focus {
  color: #555;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}

.modal-content {
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0;
}

.modal-header .close {
  font-size: 64px;
}

@media (max-width: 768px) {
  #modal-auteur {
    margin-top: 64px;
  }
}

.modal-content h4,
.modal-content .h4 {
  font-family: 'Amatic SC', sans-serif;
  font-size: 48px;
}

.modal-header {
  border-bottom: 0;
}


hr, .hr {
  border-bottom: 10px solid #ddd;
}



/* Page Auteurs list */

.panel-title {
  font-size: 18px;
  text-transform: lowercase;
}

.panel {
  box-shadow: 10px 10px #666;
  border-radius: 0;
  border: 0;
  background-color: #fafafa;
  margin-right: 10px;
}

.panel a,
.jumbotron a {
  text-decoration:none;
}

.panel a:hover,
.panel a:focus,
.jumbotron a:hover,
.jumbotron a:focus {
  color : #EF5350;
}

a .panel-body:hover .titre,
a .panel-body:focus .titre,
.jumbotron a:hover .titre,
.jumbotron a:focus .titre {
  color: #fafafa;
  background-color: #EF5350;
}

.panel-default > .panel-heading {
  color: #fafafa;
  background-color: #EF5350;
  border-bottom: none;
  border-radius: 0;
}

/* ANIMATION PANEL HOVER */
.panel-hover {
  transition: margin .2s;
  -webkit-transition: margin .2s;
  transition-timing-function: ease;
}

.panel-hover:hover,
.panel-hover:focus {
  margin-top: 5px;
  margin-bottom: 15px;
}

.jumbotron {
  border-bottom: 10px solid #666;
  background-color: #fafafa;
}

.jumbotron h2 {
  font-size: 3em;
}

.jumbotron h3 {
  font-size: 2.6em;
}

/* jumbotron red */
.red {
  color : #fafafa;
  background-color: #EF5350;
  border-bottom: 10px solid #E53935;
  margin-top: 50px;
}

.row-actu {
  margin-bottom: 1em;
}


/* social */
.social {
  margin-top: 20px;
}

.a-social {
  margin-left: 10px;
  margin-right: 10px;
  color: #aaa;
}

.a-social:hover,
.a-social:focus {
  color: #EF5350;
  background-color: transparent;
}

/* page nous soutenir */
.dons {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-don {
  margin-bottom: 20px;
  margin-top: 10px;
}

.fa-mobile {
  vertical-align: top;
}

/* wow.js visibility */
.wow {
    visibility: hidden;
}
