<div class="row">
    <div class="col-md-12">
        <h1>Précédemment</h1> 
    </div>
    {{ range first 2 (after 1 (where .Data.Pages "Type" "auteurs")) }}
    <div class="col-md-4 text-center">
        <a href="{{ .Permalink }}">
            <h2>{{ .Title }}</h2>
        </a>
        <h3>{{ .Params.texte }}</h3>
        <p>{{ .Description }}</p>
    </div>
    {{ end }}
    <div class="col-md-4 text-center">
        <a href="/auteurs">
        <h2>Archives</h2>
        </a>
        <p>Cliquez ici pour découvrir les précédents auteurs...</p>
    </div>
</div>