<div class="container wow fadeIn">
  <div class="row text-center">
    <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 text-center">
      <h1 class="sr-only">enActes.fr</h1>
			<img src="/img/logo2.svg" class="img-responsive center-block logo" alt="enActes.fr">
    </div>
	</div>
  <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
      	<p class="lead"><b>enActes.fr</b> facilite la rencontre entre auteurs et lecteurs en publiant chaque mois <b>un texte inédit, accessible à tous et sans limitation</b>.</p>
        <p class="lead">Pour financer notre projet, nous avons opté pour un système libre d’<b>abonnement</b> et de <b>dons</b> à partir de <b>1,75€ par mois</b>.</p>
        <p class="lead">Nos abonnés recevront nos publications mensuelles par mail et une pensée de l'auteur du mois par SMS.</p>
        <p><a class="btn btn-danger btn-lg btn-don" href="/nous-soutenir/">Nous soutenir</a></p>
        <p>Votre financement est directement investi dans l'écriture : chaque mois, nous passons commande à un nouvel auteur d'un texte de moins de 30 minutes dans la forme littéraire qui lui convient. Le thème est libre mais doit faire écho à l'actualité.</p>
        <p>Cette plateforme crée une alternative à l'édition en permettant à des auteurs, jeunes ou plus expérimentés, d'intégrer un réseau de diffusion et de lecture immédiate. Chaque auteur d'enActes.fr a une page qui lui est consacrée avec sa biographie, ses coordonnées et des extraits de ses autres textes. Les auteurs invités sont principalement des écrivains de théâtre. Ce qui fait la singularité de notre plateforme ce sont ces auteurs vivants qui aspirent à être joués.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <p><br>Le <b>festival EN ACTE(S)</b> change de formule. Rendez-vous en mars 2017.<br>Plus d'informations à venir.</p>
    </div>
  </div>
</div>
