<div class="container-fluid">
	<div class="row text-center">
    <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 text-center">
      <h1 class="sr-only">enActes.fr</h1>
			<img src="/img/logo2.svg" class="img-responsive center-block logo" alt="enActes.fr">
    </div>
	</div>
	<div class="row text-center">
    <div class="col-md-12">
      <p class="lead">Une <b>association</b>, une <b>plateforme numérique</b>, un <b>festival</b><br>
			Pour créer une <b>alternative à l'édition</b><br>
			Faire connaître et mettre en valeur le travail des <b>auteurs vivants</b><br>
			Offrir aux auteurs la possibilité d'<b>être joué</b></p>
			<p class="lead">Le <b>13 de chaque mois</b>, un <b>nouvel auteur</b><br>et un <b>texte inédit</b> d'une trentaine de minutes</p>
    </div>
	</div>
	<hr>
</div>
