<div class="jumbotron red">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>Soutenir enActes.fr</h2>
                <p class="lead">Comment nous soutenir ?</p>
                <p class="lead">In vel ligula tortor. Aliquam erat volutpat.
                    <br>Pellentesque at felis eu quam tincidunt dignissim. Nulla facilisi.</p>
                <!-- Formulaire de dons Paypal -->
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Amount (in euros)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputAmount" placeholder="50 000">
                            <div class="input-group-addon">€</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Faire un don !</button>
                </form>
            </div>
        </div>
    </div>
</div>