<div class="jumbotron red">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>Soutenir enActes.fr</h2>
            <p class="lead">En Actes fait la promotion des écritures contemporaines en publiant chaque mois du contenu <b>accessible à tous et sans limitation</b>.</p>
            <p class="lead">Pour financer notre projet, nous avons opté pour un système <b>d’abonnement</b> et de <b>dons libres</b>.</p>
          </div>
        </div>
        <div class="row">
          <a href="/nous-soutenir/">
          <div class="col-md-3 col-md-offset-8 col-sm-3 col-sm-offset-8 col-xs-10 col-xs-offset-1 text-center btn-infos">
            En savoir plus
          </div>
          </a>
        </div>
    </div>
</div>
