<div class="jumbotron red">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>Soutenir En Actes</h2>
            <p class="lead"><b>enActes.fr</b> facilite la rencontre entre auteurs et lecteurs en publiant chaque mois <b>un texte inédit, accessible à tous et sans limitation</b>.</p>
            <p class="lead">Pour financer notre projet, nous avons opté pour un système libre d’<b>abonnement</b> et de <b>dons</b> à partir de <b>1,75€ par mois</b>.</p>
            <p class="lead">Nos abonnés recevront nos publications mensuelles par mail et une pensée de l'auteur du mois par SMS.</p>
          </div>
        </div>
        <div class="row">
          <a href="/nous-soutenir/">
          <div class="col-md-3 col-md-offset-8 col-sm-3 col-sm-offset-8 col-xs-10 col-xs-offset-1 text-center btn-infos">
            En savoir plus
          </div>
          </a>
        </div>
    </div>
</div>
