<div class="jumbotron red">
    <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>Soutenir En Actes</h2>
            <p class="lead">En Actes fait la promotion des écritures contemporaines en publiant chaque mois du contenu <b>accessible à tous et sans limitation</b>. Pour financer notre projet, nous avons opté pour un système libre <b>d’abonnement</b> et de <b>dons</b>.</p>
            <p>Pour 1,75 € mensuel, tu reçois
              <br>UN TEXTE INÉDIT DANS TA BOÎTE MAIL
              <br>UN MOT DE L'AUTEUR SUR TON TELEPHONE</p>
            <p>Soutenir l’écriture dramatique au prix d'un stylo
              <br>Découvrir des auteurs c’est aussi simple que ça</p>
          </div>
        </div>
        <div class="row">
          <a href="/nous-soutenir/">
          <div class="col-md-3 col-md-offset-8 col-sm-3 col-sm-offset-8 col-xs-10 col-xs-offset-1 text-center btn-infos">
            En savoir plus
          </div>
          </a>
        </div>
    </div>
</div>
