
    <footer class="footer">
        <div class="container-fluid">
          <nav class="navbar navbar-inverse navbar-bottom">
            <ul class="nav navbar-nav">
              <li><a href="#">Infos pratiques</a></li>
              <li><a href="#">Nous contacter</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li></li>
              <li><a href="#">fb</a></li>
              <li><a href="#">tw</a></li>
            </ul>
          </nav>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

    <!-- Custom js -->
    <script src="{{ .Site.BaseURL }}js/enactes.js"></script>
  </body>
</html>