{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>{{ .Type }}</h1>
			<hr>
		</div>
	</div>
	<div class="row wow fadeIn">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<p class="panel-title">{{ .Params.datefr }}</p>
				</div>
				<div class="panel-body">
					<h4 class="titre">{{ .Title }}</h4>
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
	{{ partial "back-to-top.html" . }}
	<div class="row wow fadeIn" data-wow-delay="0.2s">
		<div class="col-md-8 col-md-offset-2">
			<hr>
		</div>
	</div>
	{{ partial "next-prev.html" . }}
</div>

{{ partial "footer.html" . }}
